.portfolio-chart-container{
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    background-color: white;
    text-align: center;
    max-width: 400px; 
    margin: 5px;
    padding: 20px; 
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}