
.stock-list{
    display: flex;
        /* border: solid #bcb8b1 3px; */
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: fit-content;
        background-color: white;
        margin: 10px;
        padding: 0;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.stock-list-card {
    display: flex;
}
.stock-list-card-header {

}

.stock-list-card-items {
    text-align: center;
    font-weight: bolder;
    padding: 3px;
    display: flex;
    background-color: #FAF9F6;
    border: solid #bcb8b1 3px;
    border-radius: 10px;
    margin: 5px;
    flex-direction: column;
}

.stock-list-card-items-value{
    display: flex;
    justify-content: center;
    font-size: 1.7em;

}

stock-list-card-items-historical{
    background-color: blue;
}